.div1
{
    width: 105px;
    height: 105px;
    padding: 10px;

    display: grid;
    margin: 10px;
    
}
img{
    width: 100px;
    height: 100px
}
.bloco{
    display: inline-block;
    border: 2px solid #202121;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px #20212120;
}

h2{
    display: inline;

}
.container
{
    background-color: #8ee0e0;
    display: inline-block;
    border-radius: 20px;
    padding: 25px;
}
textarea{
    background-color: rgb(248, 244, 176);
    box-shadow: 5px 5px #20212120;
    border: none;
}